.box {
    width: 100px;
    height: 100px;
    background: var(--queenpink);
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: center;
}