:root {
    /* Theme color palette */
    --jacarta: #3a345b;
    --queenpink: #f3c8dd;
    --middlepurple: #d183a9;
    --oldlavender: #71557a;
    --brownchoco: #4b1535; 
}


body {
    background: var(--brownchoco);
    color: var(--queenpink);
    display: block;
    justify-items: center;
    align-items: center;
}